DB_HOST="DB IP ADRESS, 192.168.1.40"
DB_USER="DB USER, mydb"
DB_PASSWORD="DB PASSWORD myDB"
DB_NAME="DB NAME, MyDB"
DB_PORT="YOUR DB PORT, 5432"

SMTP_USER=your_login@smtp.bz
SMTP_PASS=your_smtp_password
CLIENT_URL=http://localhost:3001

#dev устанавливает sameSite:"None", для прода только "production" для sameSite: "Strict"
#production установить при сборке
NODE_ENV = "dev" 

JWT_SECRET = "my-32-character-ultra-secure-and-ultra-long-secret"
JWT_EXPIRES_IN = "JWT EXPIRE TIME, 1h"

PORT = "YOUR PORT, 3000"

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret